<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


<div *ngIf="barra.length > 0; else noData">
  <ngx-charts-bar-vertical
    [results]="barra"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Clientes'"
    [yAxisLabel]="'Número de Aluguéis'">
  </ngx-charts-bar-vertical>
</div>

<ng-template #noData>
  <p>Nenhum dado disponível para exibir.</p>
</ng-template>

<div *ngIf="temaChartData.length > 0; else noData">
  <ngx-charts-bar-vertical
    [results]="temaChartData"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Temas'"
    [yAxisLabel]="'Número de Aluguéis'">
  </ngx-charts-bar-vertical>
</div>


<div *ngIf="totalThemesChartData.length > 0; else noData" style="width: 100%; height: 400px;">
  <ngx-charts-bar-horizontal
    [results]="totalThemesChartData"
    [xAxis]="true"
    [legend]="true"
    [showXAxisLabel]="true"
    [xAxisLabel]="'Quantida de Temas cadastrados'">
  </ngx-charts-bar-horizontal>
</div>

<div *ngIf="totalClientsChartData.length > 0; else noData" style="width: 100%; height: 200px;">
  <ngx-charts-bar-horizontal
    [results]="totalClientsChartData"
    [xAxis]="true"
    [legend]="true"
    [showXAxisLabel]="true"
    [xAxisLabel]="'Quantida de Clientes cadastrados'">
  </ngx-charts-bar-horizontal>
</div>


<ng-template #noData>
  <p>Nenhum dado disponível para exibir.</p>
</ng-template>

<div *ngIf="totalRevenue > 0; else noData" class="chart-container">
  <ngx-charts-bar-horizontal
    [results]="[{ name: 'Receita Total', value: totalRevenue }]"
    [xAxis]="true"
    [legend]="false"
    [showXAxisLabel]="true"
    [xAxisLabel]="'Receita Total'">
  </ngx-charts-bar-horizontal>
</div>

<ng-template #noData>
  <p>Nenhum cliente disponível no momento.</p>
</ng-template>

<div class="container">
  <h2>Temas Alugados no Período</h2>
  <app-chart [chartData]="temaChartData" [chartLabels]="temaChartLabels"></app-chart>
</div>

<!-- <div class="theme-list">
  <h2>Lista de Temas</h2>
  <ul>
    <li *ngFor="let theme of themes">
      {{ theme.name }} - {{ theme.color }} - R$ {{ theme.price }}
      <ul>
        <li *ngFor="let item of theme.itens">Item ID: {{ item }}</li>
      </ul>
    </li>
  </ul>
</div>

<div class="new-theme">
  <h2>Criar Novo Tema</h2>
  <form (ngSubmit)="createTheme()">
    <label for="name">Nome:</label>
    <input type="text" id="name" [(ngModel)]="newTheme.name" name="name" required>

    <label for="color">Cor:</label>
    <input type="text" id="color" [(ngModel)]="newTheme.color" name="color" required>

    <label for="price">Preço:</label>
    <input type="number" id="price" [(ngModel)]="newTheme.price" name="price" required>

    <label for="itens">Itens (IDs separados por vírgula):</label>
    <input type="text" id="itens" [(ngModel)]="newTheme.itens" name="itens" 
           (ngModelChange)="newTheme.itens = $event.split(',').map(Number)" required>

    <button type="submit">Criar Tema</button>
  </form>
</div> -->