<div class="title">
  <h1>Dashboard Aluguel de temas</h1>
</div>

<div class="chart-container">
  <form [formGroup]="formUsuario" (ngSubmit)="submeterUsuario()">
    <h3>cadastrar usuário</h3>
    <input formControlName="nome" type="text" placeholder="Nome" />
    <input formControlName="email" type="text" placeholder="Email" />
    <button type="submit">Salvar</button>
  </form>
</div>

<div class="chart-container">
  <h3>Lista de Usuários</h3>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of listaUsuarios">
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.name }}</td>
        <td>{{ usuario.email }}</td>
        <td>
          <button (click)="atualizarUsuario(usuario.id)">Editar</button>
          <button (click)="excluirUsuario(usuario.id)">Excluir</button>
        </td>
      </tr>    
    </tbody>
  </table>
</div>

<div *ngIf="barra.length > 0; else noData" class="chart-container">
  <p>Usuários que mais alugaram temas</p>
  <ngx-charts-bar-vertical
    [results]="barra"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Clientes'"
    [yAxisLabel]="'Número de Aluguéis'">
  </ngx-charts-bar-vertical>
</div>

<ng-template #noData>
  <p>Nenhum dado disponível para exibir.</p>
</ng-template>

<div *ngIf="temaChartData.length > 0; else noData" class="chart-container">
  <p>Temas mais alugados</p>
  <ngx-charts-bar-vertical
    [results]="temaChartData"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Temas'"
    [yAxisLabel]="'Número de Aluguéis'">
  </ngx-charts-bar-vertical>
</div>


<div *ngIf="totalThemesChartData.length > 0; else noData" class="chart-container">
  <p>Temas cadastrados</p>
  <ngx-charts-bar-horizontal
    [results]="totalThemesChartData"
    [xAxis]="true"
    [legend]="true"
    [showXAxisLabel]="true"
    [xAxisLabel]="'Quantida de Temas cadastrados'">
  </ngx-charts-bar-horizontal>
</div>

<div *ngIf="totalClientsChartData.length > 0; else noData" class="chart-container">
  <p>Clientes cadastrados</p>
  <ngx-charts-bar-horizontal
    [results]="totalClientsChartData"
    [xAxis]="true"
    [legend]="true"
    [showXAxisLabel]="true"
    [xAxisLabel]="'Quantida de Clientes cadastrados'">
  </ngx-charts-bar-horizontal>
</div>


<ng-template #noData>
  <p>Nenhum dado disponível para exibir.</p>
</ng-template>

<div *ngIf="rentByPeriod.length > 0; else noData" class="chart-container">
  <p>Quantidade de Temas Alugados no Período</p>
  <ngx-charts-bar-horizontal
    [results]="rentByPeriod"
    [xAxis]="true"
    [legend]="false"
    [showXAxisLabel]="true"
    [xAxisLabel]="'Período'"
    [yAxisLabel]="'Quantidade de Aluguel'">
  </ngx-charts-bar-horizontal>
</div>

<ng-template #noData>
  <p>Nenhum dado disponível para exibir.</p>
</ng-template>


<div *ngIf="totalRevenue > 0; else noData" class="chart-container">
  <p>Receita Total de alugéis</p>
  <ngx-charts-bar-horizontal
    [results]="[{ name: 'Receita Total', value: totalRevenue }]"
    [xAxis]="true"
    [legend]="false"
    [showXAxisLabel]="true"
    [xAxisLabel]="'Receita Total'">
  </ngx-charts-bar-horizontal>
</div>

<ng-template #noData>
  <p>Nenhum cliente disponível no momento.</p>
</ng-template>

<div *ngIf="revenueByPeriod.length > 0; else noData" class="chart-container">
  <p>Receita por Período (Mês/Ano)</p>
  <ngx-charts-line-chart
    [results]="revenueByPeriod"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Período'"
    [yAxisLabel]="'Receita'"
    [scheme]="'colorScheme'"> 
  </ngx-charts-line-chart>
</div>

<ng-template #noData>
  <p>Nenhum dado disponível para exibir.</p>
</ng-template>
